<html>[BR]
<head>[BR]
  <title>Welcome!</title>[BR]
</head>[BR]
<body>[BR]

  <#-- Greet the user with his/her name -->[BR]
  <h1>Welcome ${user.name}!!</h1>[BR]
  <#if user??>Am I valid? ${user.validUser?c}<#else>user is missing</#if>
  <p>We have these animals:[BR]
  <ul>[BR]
  <#list users as user>[BR]
    <li>Name: ${user.name} , Email: ${user.email}[BR]
  </#list>[BR]
  </ul>[BR]
  
  <#list ["first", "second", "third"] as x>
    ${x}<br>
  </#list>
  
</body>[BR]
</html>
