<html>
<head>
<title>Home</title>

<style type="text/css">

div {
	background-color: white !important;
	height: 150px;
	widht: 300px;
	
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -150px; 
}
h1 {
	color: #00aeef;
	position: fixed;
	margin-left: -170px; 
	top: 20%;
	left: 50%;
}
</style>

<!-- 
<script src="<c:url value="/scripts/lib/jquery-2.2.1.min.js" />"></script>
 -->
<script src="<c:url value="/lib/jquery-2.2.1.min.js" />"></script>
<script src="<c:url value="/scripts/lib/jquery.validate.js" />"></script>

<!-- I think this is for me -->
<script src="<c:url value="/resources/lib/jquery-2.2.1.min.js" />"></script>
<script src="<c:url value="/resources/lib/jquery.validate.js" />"></script>

<script src="<c:url value="/resources/lib/crunchify.css" var="crunchifyCSS" />"></script>
<script src="<c:url value="/resources/lib/crunchify.js" var="crunchifyJS" />"></script>
<link href="${crunchifyCSS}" rel="stylesheet" />
<script src="${crunchifyJS}"></script>


<spring:url value="/resources/crunchify.css" var="crunchifyCSS" />
<spring:url value="/resources/crunchify.js" var="crunchifyJS" />
<link href="${crunchifyCSS}" rel="stylesheet" />
<script src="${crunchifyJS}"></script>

<!-- let's add tag srping:url -->
<spring:url value="/resources/crunchify.css" var="crunchifyCSS" />
<spring:url value="/resources/crunchify.js" var="crunchifyJS" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="${crunchifyCSS}" rel="stylesheet" />
<script src="${crunchifyJS}"></script>
<!-- Finish adding tags -->

<script type="text/javascript">

$(document).ready(function () {

    $('#myform').validate({ // initialize the plugin
        rules: {
            field1: {
                required: true,
                email: true
            },
            field2: {
                required: true,
                minlength: 5
            }
        },
        submitHandler: function (form) { // for demo
            alert('valid form submitted'); // for demo
            return false; // for demo
        }
    });

});

</script>

</head>
<body>

	<h1 align="center">New Account Creation FTL</h1>
<form id="myform">
    <input type="text" name="field1" />
    <br/>
    <input type="text" name="field2" />
    <br/>
    <input type="submit" />
</form>


	<div id="content">
		<fieldset>
		<!-- 
		  <legend>Add User</legend>
		 -->
			<form id="registration" action="registration" method="post">
				<table>
					<tr>
						<td>User name:</td>
						<td><input type="text" name="name" /></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input type="text" name="email" /></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="text" name="password" /></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="text" name="" /></td>
					</tr>
					<tr>
						<td></td>
						<td align="right"><input type="submit" value="Register" /></td>
					</tr>
				</table>
			</form>
		</fieldset>

	</div>

</body>
</html>
