.divTable{
	display: table;
}

.divTableBody {
	display: table-row-group;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	display: table-cell;
	padding: 3px 10px;
	vertical-align: middle;
}

.divTableCellBottom {
	display: table-cell;
	padding: 0px 10px;
	vertical-align: bottom;
}

.divTableCellVerticallAligng {
    display:table-cell;
    padding: 3px 10px;
    vertical-align:middle;
}

.right {
    float: right;
}