body {
	background-color: #e7e8d5;
}

h1 {
	color: green;
	font-size: 40px;
}

h3 {
	color: black;
	font-size: 20px;
}

.title-header {
	font-style: italic;
	color: navy;
	margin-left: 20px;
}

.center {
	margin: auto;
	width: 300px;
	padding: 10px;
}

#words-title {
	font-size: 30px;
	color: blue;
}

#idioms-title {
	font-size: 30px;
	color: blue;
}

.title {
	font-size: 30px;
	color: blue;
}

#linkToMainPage {
	padding-top: 40px
}

#common-container {
	padding-bottom: 30px;
	float: right;
}

#selector-container {
	
}

#storySelectorName-container {
    float: left;
    color: black;
	font-size: xx-large;
	font-style:  normal;
}

#storySelector-container {
	margin-left:10px;
	padding-top:10px;
	color:red;
	font-size: large;
	float:left
}

.clearfix{
    clear:both
}

