h1 {
	color: #00aeef;
}

#divMain {
	position: absolute;
	height: 300px;
	width: 300px;
	
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
}

#divLoginTitle {
	text-align: center;
	color: #00aeef;
	font-size: 30px;
}

#divLoginFrame {
	background-color: white;
	height: 150px;
	width: 300px;
	align-content: center;		 
}

.messageDiv {
	color: red;
}
