body {
	background-color: #e7e8d5;
	font-size: 20px;
}

.title-header {
	font-style: italic;
	color: navy;
	margin-left: 20px;
}

h1 {
	color: navy;
	margin-left: 20px;
}

h3 {
	color: green;
	font-size: 40px;
}

#main {
	width: 800px;
	margin: 0 auto;
}

.center {
	margin: auto;
	width: 800px;
	padding: 10px;
}

#game-container {
	width: 100px;
	padding-top: 100px;
	padding-left: 100px;
	float: left;
}

#words-container {
	width: 200px;
	padding-left: 150px;
	padding-top: 100px;
	float: left;
}

#idioms-container {
	width: 200px;
	padding-left: 650px;
	padding-top: 100px;
}

#common-container {
	padding-bottom: 30px;
	float: right;
}

.content {
	padding-left: 10px;
}