

h1 {
	color: #00aeef;
}

#divMain {
	position: absolute;
	height: 300px;
	width: 300px;
	
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
}

#divRegistrationTitle {
	align-content: center;	
}

#divRegistrationFrame {
	background-color: white;
	height: 150px;
	width: 300px;
	align-content: center;		 
}
