body {
	background-color: #e7e8d5;
	font-size: 20px;
}

.title-header {
	font-style: italic;
	color: navy;
	margin-left: 20px;
}

#linkToMainPage {
	padding-top: 40px
}

#common-container {
	padding-bottom: 30px;
	float: right;
}

#titleContainer {
	margin-left: 50px;
}

#storyContainer {
	font-weight: 200;
}

#innerContainer {
	
}

#titleLabel {
	color: blue;
	font-weight: 300;
}

#storyLabel {
	color: blue;
}

#storyTextLabel {
	color: red;
}

input[type="radio"] {
    margin-left:10px;
}