body {
	background-color: #e7e8d5;
	font-size: 20px;
}

h1 {
	color: green;
	font-size: 40px;
}

.title-header {
	font-style: italic;
	color: navy;
	margin-left: 20px;
}

.center {
	margin: auto;
	width: 300px;
	padding: 10px;
}

#common-container {
	padding-bottom: 30px;
	float: right;
}

#search-container {
	float: left;
	padding-right: 30px;
}

#tooltip-label-container {
	
}

#tooltip-text {
	color: blue;
}

#search-input-container {
	float: left;
}

#list-container {
	max-height: 500px;
	overflow-y: auto;
	float: left;
}

#form-container {
	
}
