<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>AccessDenied page</title>
</head>
<body>
	You are not authorized to access this page<br>

	<a href="/">To Login page</a>
	
</body>
</html>